* {
  padding: 0;
  margin: 0;
}

@keyframes ashish {
    0%{
        left: 0px;
        top: 0px;
        background-color: aqua;
    }
    20%{
        top: 0px;
        left: 500px;
        background-color: rgb(1, 1, 255);
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: rgb(4, 254, 41);
    }
    75%{
        top: 500px;
        left: 0px;
        background-color: rgb(218, 255, 7);
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: rgb(255, 1, 1);
    }
}

.div{
  border: 2px solid black;
  padding: 20px;
  height: 30px;
  width: 30px;
  position: absolute;
  animation: ashish 10s linear 0s infinite;
}



/* transition : propertyname time/duration timing function delay;

timimg function - linear, eaes-in, ease-out, ease-in-out; 

*/


/* transform - rotate , rotate, sqew, translate 






*/