* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Courier, monospace;
}

header {
  height: 70px;
  background-color: white;
  padding: 6px 20px;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
 
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.item2 {
  background-color: #f8f8f8;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;    

  .fa-solid {
    padding: 10px;
    color: #908c8c;
  }

  select {
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    color: #908c8c;
  }
}

select:focus {
  background-color: none;
  outline: 5px solid #0dcaf0;
}

.item2-input {
  padding: 10px;
  border: none;
  background-color: #f8f8f8;
  width: 230px;
}

input:focus {
  outline: none;
  outline: 5px solid #0dcaf0;
  border-radius: 5px;
}

.item3 {
  a,
  select {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: none;
    font-weight: bold;
    width: 90px;
    padding: 0px;
  }

  select:focus {
    outline: none;
    border: none;
  }
}

i{
    font-size: 22px;
}

/* Main section */

main{

    .main{
        position: relative;
        margin-bottom: 40px;
    }
    
    img{
        width: 100%;
        height: 100vh;
        
    }

    .mainheading{
        position: absolute;
        display: grid;
        gap: 20px;
        top: 15%;
        left: 2%;
        width: 50%;
        
    }

    .mainheading h1{
        font-weight: 500;
        font-size: 76px;
    }

    .mainheading h1 span:first-child{
        color: #6bb252;
        font-weight: bold;
    }

    .mainheading h1 span{
        font-weight: 600;
    }
    .mainheading p{
        font-size: 20px;
        color: #747474;
    }

    .btnMain{
        display: flex;
        gap: 20px;
        padding-top: 20px;
    }


    .btnMain button:first-child{
      background-color: #6BB252;
    }

    .btnMain button{
        padding: 15px; 
        border: none;
        border-radius: 25px; 
        background-color: #000000;
        font-size: 20px; 
        color: white;

    }

    .visiters{
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      h1{
        font-size: 40px;
        font-weight: bold;
      }
    }

    .mainCard{
      position: absolute;
      display: flex;
      bottom: 4px;
      width: 100%;
      justify-content: space-between;

      .card{
        width: 30%;
        height: 40px;
        background-color: rgb(237, 20, 20);
      }
    }
}





